In [1]:
import pandas as pd

df = pd.read_csv('/Users/selinamangaroo/Desktop/Pandas Scripts/data_processing/processed_1.csv', index_col=0)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3395 entries, 1 to 3395
Columns: 108 entries, accessno to ppid
dtypes: bool(1), float64(38), int64(7), object(62)
memory usage: 2.8+ MB
None

In [2]:
df.head(10)

,accessno,acqvalue,caption,catby,catdate,cattype,circum,circumft,circumin,collection,...,weight,weightin,weightlb,width,widthft,widthin,xcord,ycord,zcord,ppid
1,85-3-1,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,3C03818F-EA5B-40ED-8A51-511637772340
2,85-4-1,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,ADBDA490-9B39-4DE3-8FEF-223409360298
3,85-5-1,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,DC72DA26-4A4A-47EB-BEB8-379723716458
4,85-6-1 a&b,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,4D42FA5D-1D04-48CD-A0B5-032117625885
5,85-8-1,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.3,0.0,0.0,0.0,0.0,0.0,D9DBEFC1-569E-469D-917C-838844896574
6,85-9-1,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.7,0.0,0.0,0.0,0.0,0.0,B3039ED6-C319-40E4-9055-273701418584
7,85-10-1,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.6,0.0,0.0,0.0,0.0,0.0,33A4D8A6-9C4D-486C-91CF-137343693354
8,85-11-1,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,AE1778F5-2754-41DE-9270-450768636770
9,85-12-1,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,8.4,0.0,0.0,0.0,0.0,0.0,EDCA645C-5224-47BC-915F-349570603326
10,85-14-1,0.0,NaN,NaN,2010-06-11,History,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,2.4,0.0,0.0,0.0,0.0,0.0,BD0EB99F-3ADC-4D29-9A9F-460830437190

In [9]:
df.loc[(df.type == 'physical_object'),'type'] = 'artifact'

In [10]:
new_df = df[["objectid", "objname", "type", "descrip", "date", "notes", "invnby", "invndate", "material"]]
new_df = new_df.head(10)
new_df

,objectid,objname,type,descrip,date,notes,invnby,invndate,material
1,1937.095.003,Bodice,artifact,Bodice; velvet fabric; royal blue; lined with ...,1857,Change item # on garment from 1937.095.001 a t...,"Lawrence, Sherry",2006-07-20,Textile
2,1937.095.001,Skirt,artifact,(b) Skirt; Sides and front are patterned silk ...,1857,NaN,"Lawrence, Sherry",2006-07-20,Textile
3,1937.095.009,Skirt,artifact,"Velvet; royal blue; three panels; 42-1/2""L; 7""...",1857,Change Item # on garment from 1937.095.001 c t...,NaN,NaN,Textile
4,1937.095.002,"Uniform, Military",artifact,Uniform Coat: Civil War: Uniform fitted frock ...,NaN,Coat worn by Infantry Capt. Dennis H. Williams...,"Goodmanson, Erik",2019-06-13,Textile
5,1941.235.001,"Gown, Wedding",artifact,"Gown, Wedding; Two-piece wedding gown; faille ...",1886,Minnie Dansingburg married Walter J. Airs on O...,"Lawrence, Sherry",2006-08-17,Textile
6,1944.425.001,"Gown, Wedding",artifact,"Gown, wedding; satin fabric; deep ivory; one-p...",1880,"Wedding dress of Martha Helen Cross, who marri...","Lawrence, Sherry",2006-08-17,Textile
7,1948.635.039,"Gown, Wedding",artifact,"Gown, Wedding; bodice, white wool challis fab...",1873,"Donation made by Flora Bliss and her sister, M...","Lawrence, Sherry",2006-08-17,Textile
8,1948.635.039 b,"Gown, Wedding",artifact,"Gown; Wedding gown skirt, white challis wool; ...",1873,NaN,"Lawrence, Sherry",2006-08-21,Textile
9,1948.635.039 c,Scrap,artifact,"Two cut and sewn pieces, with stitches undone....",1873,NaN,NaN,NaN,NaN
10,2006.236.001,Suit,artifact,"Linen fabric; navy color; 39""L shoulder to hem...",1912,NaN,"Goodmanson, Erik",2020-10-15,Textile

In [11]:
new_df.to_csv('migrate_data.csv')